<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" text=""></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="addToFavourites(recipe_id!)" color="secondary"
        ><ion-icon name="heart-outline" size="large"></ion-icon
      ></ion-button>

      <ion-button (click)="addToCart()" color="secondary" class="cart-button">
        <ion-icon name="cart-outline" size="large" class="cart-icon"></ion-icon>
        <ion-badge color="success" class="cart-badge">+</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title>recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="{{recipe?.image}}" />
  <ion-header>{{recipe?.name}}</ion-header>
  <div>
    <!-- <p>{{recipe?.ingredients}}</p> -->
    <h4>Ingredients :</h4>
    <!-- split ingredients string by new line charecter -->
    <div *ngFor="let item of recipe?.ingredients?.split('\n')">
      <p>{{item}}</p>
    </div>

    <h4>Directions :</h4>
    <!-- split directions string by period charecter -->
    <div *ngFor="let item of recipe?.directions?.split('\n'); let i = index">
      <p class="step">Step {{i+1}}</p>
      <p>{{item}}</p>
    </div>
    <!-- <p>{{recipe?.directions}}</p> -->
  </div>
</ion-content>
