<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" text=""></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="addToCart()" color="secondary"
        >add to cart</ion-button
      >
    </ion-buttons>
    <ion-title>recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="{{recipe?.image}}" />
  <ion-header>{{recipe?.name}}</ion-header>
  <!-- <p>{{recipe?.ingredients}}</p> -->
  <h4>Ingredients :</h4>
  <!-- split ingredients string by new line charecter -->
  <p *ngFor="let item of recipe?.ingredients?.split('\n')">{{item}}</p>

  <h4>Directions :</h4>
  <!-- split directions string by period charecter -->
  <p *ngFor="let item of recipe?.directions?.split('\n')">{{item}}</p>
  <!-- <p>{{recipe?.directions}}</p> -->
  <ion-button
    (click)="addToFavourites(recipe_id!)"
    fill="clear"
    size="full"
    color="secondary"
    >add to favourites</ion-button
  >
</ion-content>
