<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>custom AI recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="{{customRecipe.imgURL}}" />
  <ion-header>{{aiRecipe?.name}}</ion-header>
  <div>
    <h5>Prep Time: <span>{{aiRecipe?.prepTime}}</span></h5>

    <h4>Ingredients :</h4>
    <div *ngFor="let item of aiRecipe?.ingredients?.split('\n')">
      <p>{{item}}</p>
    </div>

    <h4>Directions :</h4>
    <div *ngFor="let item of aiRecipe?.directions?.split('\n')">
      <p>{{item}}</p>
    </div>
  </div>
</ion-content>
