<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Kitchen Keeper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="flex-center">
    <div>
      <h2>404 Page Not Found!</h2>
      <p>The page you were looking for does not exist!</p>
      <ion-button
        routerLink="/recipes"
        routerDirection="back"
        expand="full"
        fill="clear"
        color="secondary"
        >Back to Home</ion-button
      >
    </div>
  </section>
</ion-content>
