img {
  aspect-ratio: 1;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  ion-button {
    --padding-start: 8px;
    --padding-end: 8px;
  }
}

// height >= 1023
