<app-header [title]="pageTitle"></app-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-button (click)="getRecipesByCategory('chicken')" shape="round"
      >chicken</ion-button
    >
    <ion-button (click)="getRecipesByCategory('beef')" shape="round"
      >beef</ion-button
    >
  </div>
  <div>
    <ion-button (click)="getRecipesByCategory('seafood')" shape="round"
      >seafood</ion-button
    >
    <ion-button (click)="getRecipesByCategory('vegetarian')" shape="round"
      >vegetarian</ion-button
    >
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let recipe of recipes$ | async">
        <ion-fab horizontal="end">
          <ion-fab-button
            (click)="onFavourite(recipe.id)"
            size="small"
            color="secondary"
          >
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <app-recipe
          [recipe]="recipe"
          [showCatagory]="false"
          (viewEvent)="onView($event)"
        ></app-recipe>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
