<app-header [title]="pageTitle"></app-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let favourite of items$ | async">
        <ion-fab horizontal="end">
          <ion-fab-button
            (click)="onDelete(favourite.recipe.id)"
            size="small"
            color="secondary"
          >
            <ion-icon name="close-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>

        <app-recipe
          [recipe]="favourite.recipe"
          (viewEvent)="onView($event)"
        ></app-recipe>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
