<ion-content [fullscreen]="true"
  ><div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="secondary">Kitchen Keeper</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input
              label="Username"
              labelPlacement="floating"
              placeholder="Enter username"
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Password"
              labelPlacement="floating"
              placeholder="Enter password"
              type="password"
            ></ion-input>
          </ion-item>
        </ion-list>
        <ion-button color="dark" size="full" fill="clear"
          >Forgot password</ion-button
        >
        <ion-button color="secondary" size="full">Login</ion-button>
        <ion-button color="secondary" size="full" fill="clear"
          >Register</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div></ion-content
>
