<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Kitchen Keeper</ion-list-header>
          <ion-note *ngIf="(isLoggedIn$ | async) === false"
            >Recipes Worth Keeping</ion-note
          >
          <div *ngIf="isLoggedIn$ | async">
            <ion-note>{{ user$ | async }}'s kitchen</ion-note>
          </div>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-button
            *ngIf="isLoggedIn$ | async"
            (click)="onLogout()"
            color="secondary"
            size="full"
            fill="clear"
            >Logout</ion-button
          >
          <ng-container *ngIf="(isLoggedIn$ | async) === false">
            <ion-button
              (click)="login()"
              color="secondary"
              size="full"
              fill="clear"
              >Login</ion-button
            >
          </ng-container>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <app-loading></app-loading>
</ion-app>
