.round-button {
  --border-radius: 50%;
}

ion-accordion-group {
  ion-accordion {
    border-radius: 20px;

    ion-item {
      font-size: 0.9em;
    }

    div {
      padding: 1em;

      p {
        padding-bottom: 0.2em;
      }
    }
  }
}

ion-chip {
  ion-label {
    font-size: 0.95em;
    font-weight: 600;
  }
}
