<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>

    <ion-title>Grocery Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="items$ | async">
    <ion-card-header>
      <ion-card-subtitle>
        Cart items: {{itemCount$ | async}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ng-container *ngIf="(itemCount$ | async ) === 0">
        <ion-card>
          <ion-item lines="none">
            <ion-label>Cart is Empty!</ion-label>
          </ion-item>
        </ion-card>
      </ng-container>

      <ion-card *ngFor="let item of items$ | async">
        <ion-card-header>
          <ion-chip>
            <ion-avatar>
              <img alt="" src="{{item?.recipe?.image}}" />
            </ion-avatar>
            <ion-label>{{item?.recipe?.name}}</ion-label>
          </ion-chip>
        </ion-card-header>

        <ion-card-content>
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Ingredients</ion-label>
              </ion-item>
              <div slot="content">
                <p
                  *ngFor="let ingrediant of item.recipe?.ingredients?.split('\n')"
                >
                  {{ingrediant}}
                </p>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>

        <ion-button
          (click)="onDelete(item.recipeId)"
          color="secondary"
          fill="clear"
          size="block"
        >
          Remove
        </ion-button>
      </ion-card>
    </ion-card-content>
  </div>
  <ion-button
    *ngIf="itemCount$ | async"
    routerLink="/shopping-list"
    color="secondary"
    fill="clear"
    expand="full"
  >
    Create Shopping List
  </ion-button>
  <ion-button
    *ngIf="itemCount$ | async"
    (click)="onEmptyCart()"
    color="secondary"
    fill="clear"
    expand="full"
  >
    Empty Cart
  </ion-button>
</ion-content>
