img {
  width: 100%;
  height: 200px;
}

ion-card-title {
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div {
  font-size: 0.85em;
}

.flex {
  display: flex;
}

.timer {
  font-size: 1.1em;
  padding-right: 0.5em;
}

.sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1em;
}
