<ion-card *ngIf="recipe" button (click)="onView(recipe.id)">
  <img src="{{ recipe.image }}" />
  <ion-card-subtitle class="sub">
    <div *ngIf="showCatagory">
      <p>{{ recipe.category_id }}</p>
    </div>
    <div class="flex">
      <p class="timer">
        <ion-icon name="timer-outline"></ion-icon>
      </p>
      <p>{{ recipe.prep_time }}</p>
    </div>
  </ion-card-subtitle>
  <ion-card-header>
    <ion-card-title>
      {{ recipe.name }}
    </ion-card-title>
  </ion-card-header>
</ion-card>
