img {
  width: 100%;
  aspect-ratio: 1;
}

ion-card-title {
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div {
  font-size: 0.85em;
}

.flex {
  display: flex;
}

.timer {
  font-size: 1.1em;
  padding-right: 0.5em;
}
