<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [(ngModel)]="inputQuery"
    (ionInput)="filterRecipes()"
    show-clear-button="focus"
    placeholder="find a recipe"
    animated="true"
  ></ion-searchbar>
  <div *ngFor="let recipe of filteredRecipes">
    <ion-fab horizontal="end">
      <ion-fab-button
        (click)="onFavourite(recipe.id)"
        size="small"
        color="secondary"
      >
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <app-recipe [recipe]="recipe" (viewEvent)="onView($event)"></app-recipe>
  </div>
</ion-content>
