<app-header [title]="pageTitle"></app-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [(ngModel)]="query"
    show-clear-button="focus"
    placeholder="What do you want to cook?"
    animated="true"
  ></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="6"
        *ngFor="let recipe of filteredRecipes$ |async |customFilter: query "
      >
        <ion-fab horizontal="end">
          <ion-fab-button
            (click)="addToFavourites(recipe.id)"
            size="small"
            color="secondary"
          >
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <app-recipe [recipe]="recipe" (viewEvent)="onView($event)"></app-recipe>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
