<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Shopping List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      button
      detail="false"
      *ngFor="let ingredient of ingredients; let i = index"
      [class.clicked]="clickedIngredients[i]"
      (click)="onClick(i)"
    >
      <ion-label>
        <h4>{{ingredient}}</h4>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
