<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>shopping list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="completedShopping">
    <h2>Rewarding message or animation!</h2>
  </div>
  <ion-list>
    <ion-item
      button
      detail="false"
      *ngFor="let ingredient of ingredients; let i = index"
      [class.clicked]="clickedIngredients[i]"
      (click)="onClick(i)"
    >
      <ion-label>
        <h4>{{ingredient}}</h4>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
